<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <mat-card class="row" style="margin: 20px 0 20px 0; display: flex">
    <div class="col-lg-6 col-md-6 col-sm-12">
      NgRX Tests App
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12" style="color: #67BECD; font-size: 20px; text-align:right;">
      <button mat-button nzTitle="Liste des tutos" nzPlacement="bottom" nz-tooltip><i nz-icon type="bar-chart" theme="outline"></i></button>
    </div>
  </mat-card>
</div>
<!--<router-outlet></router-outlet>-->
<app-add-tuto></app-add-tuto>
<app-tutos-list></app-tutos-list>
